body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.global-background {
  min-height: 100vh;
  background-image: url("/background2.jpg"); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed; 
}